@model IEnumerable<PropertyManagementApp.Models.Building>

@{
    ViewBag.Title = "Property";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<h2>Property</h2>

<p>
    @Html.ActionLink("Create New", "CreateBuilding")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalFloors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowPet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFloors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowPet)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBuilding", new { id=item.BuildingId }) |
            @Html.ActionLink("Details", "DetailsBuilding", new { id=item.BuildingId }) |
            @Html.ActionLink("Delete", "DeleteBuilding", new { id=item.BuildingId })
        </td>
    </tr>
}

</table>
